@model PizzaFormModel

<h2>Nuova pizza</h2>


<div class="container">
    <div class="pad">
        <form method="post" asp-controller="Pizza" asp-action="Create" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-field">
                <label asp-for=" Pizza.Name">Nome</label>
                <input asp-for="Pizza.Name"/>
                <span asp-validation-for="Pizza.Name" class="text error"></span>
            </div>
            <div class="form-field">
                <label asp-for="Pizza.Description">Descrizione</label>
                <textarea asp-for="Pizza.Description"></textarea>
                <span asp-validation-for="Pizza.Description" class="text error"></span>
            </div>
            <div class="form-field">
                <label asp-for="Pizza.Image">Immagine</label>
                <input asp-for="Pizza.Image" />
                <span asp-validation-for="Pizza.Image" class="text error"></span>
            </div>
            <div class="form-field">
                <label asp-for="ImageFormFile">Image file</label>
                <input type="file" asp-for="ImageFormFile" />
                <span asp-validation-for="ImageFormFile" class="text error"></span>
            </div>
            <div class="form-field">
                <label asp-for="Pizza.Price">Prezzo</label>
                <input asp-for="Pizza.Price" />
                <span asp-validation-for="Pizza.Price" class="text error"></span>
            </div>
            <div class="form-field">
                <label asp-for="Pizza.CategoryId">Category</label>
                <select asp-for="Pizza.CategoryId">
                    <option value="0"></option>
                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.Id">@cat.Title</option>
                    }
                </select>
                <span asp-validation-for="Pizza.CategoryId" class="text error"></span>
            </div>
            <div class="form-field">
                <label asp-for="SelectedIngredients">Ingredienti</label>
                <select asp-for="SelectedIngredients" multiple="multiple" asp-items="@Model.Ingredients"></select>    
            </div>
            <button type="submit" class="btn btn-secondary mt-3">Crea</button>
        </form>
    </div>
</div>

